{% extends "base.html" %}
{% set active_page = "current" %}
{% block title %} - Home{% endblock %}
{% block content %}

     <p>Viewing Current Class!</p>
     <p>This is pretty cool!</p>

<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Roster</div>
          <div class="panel-body">
            <p>Add some stuff here...</p>
          </div>

          <!-- Table -->
          <table class="table">
            <tr><th>Name</th><th>Street Address</th><th>City, State</th></tr>
            <tr><td>Joe Smith</td><td>123 Some Street</td><td> Crofton MD</td></tr>
            <tr><td>Jane Smith</td><td>123 Some Street</td><td> Crofton MD</td></tr>
            <tr><td>Peter Smith</td><td>123 Some Street</td><td> Crofton MD</td></tr>
            <tr><td>Jose Smith</td><td>123 Some Street</td><td> Crofton MD</td></tr>
            <tr><td>Jessie Smith</td><td>123 Some Street</td><td> Crofton MD</td></tr>
          </table>
        </div>

    </div> <!--col-md-8 -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Course info</div>
            <div class="panel-body">
              <p>Instructor J. Doe</p>
              <p>Heartsaver CPR</p>
            </div>
        </div>
    </div>

</div>


{% endblock %}
