{% extends "base.html" %}
{% set active_page = "showclass" %}
{% block title %} - Edit Class{% endblock %}
{% block content %}

<form action="/class/{{class_data['_id']}}/?edit=true" method="post">

<div class="row">
    <div class="col-md-8 form-group">
          <!-- Table -->
          <table class="table">
            <tr><th>Name</th><th>Street Address</th><th>City, State</th></tr>
            {% for student_id, student_data in class_data['students']|dictsort %}
            <tr><td><input type="text" class="form-control" name="{{student_id}}-name" placeholder="Name" value="{{student_data['name']}}" required></td><td><input type="text" class="form-control" name="{{student_id}}-street_address" placeholder="Street Address" value="{{student_data['street_address']}}" required></td><td><input type="text" class="form-control" name="{{student_id}}-city_state" placeholder="City, State" value="{{student_data['city_state']}}" required></td></tr>
            {% endfor %}
            <tr><td><input type="text" class="form-control" name="new_student-name" placeholder="Name"></td><td><input type="text" class="form-control" name="new_student-street_address" placeholder="Street Address"></td><td><input type="text" class="form-control" name="new_student-city_state" placeholder="City, State"></td></tr>
          </table>
          <input type="hidden" name="num_students" value="{{class_data['students']|length}}">

    </div> <!--col-md-8 -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Course info</div>
            <div class="panel-body">
              <p>Instructor: <select name="curr_instructor" class="form-control" placeholder="{{class_data['curr_instructor']}}" value="{{class_data['curr_instructor']}}" required>
              {% for instructor in instructors %}
                <option value="{{instructor['_id']}}"{% if class_data['curr_instructor'] == instructor['_id'] %} selected{% endif %}>{{instructor['name']}}</option>
              {% endfor %}
                </select>
              </p>
              <p><select name="course_type" class="form-control" placeholder="" value="{{class_data['curr_course_type']}}" required>
              {% for course_type_id, course_type_name in course_types %}
                <option value="{{course_type_id}}"{% if class_data['curr_course_type']|int == course_type_id|int %} selected{% endif %} >{{course_type_name}}</option>
              {% endfor %}
                </select>
              </p>
              <p>Course Date: <input type="date" class="form-control" name="class_date" placeholder="Course Date" value="{{class_data['class_date'].strftime('%m/%d/%Y')}}"></p>
              {% for option, value in class_data['options']|dictsort %}
              <div class="checkbox">
                  {% if value=="true"%}
                  <label>
                      <input type="checkbox" name="{{option}}" checked="checked"/> {{option}}
                      {% else %}
                  <label>
                      <input type="checkbox" name="{{option}}" /> {{option}}
                      {% endif %}
                  </label>
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="btn-toolbar" role="group">
    <button id='submit' type="submit" class="btn btn-success">Save</button>
    <a href="/class/{{class_data['_id']}}/" class="btn btn-danger">Cancel</a>
</div>

</form>


<p>{{request_data}}</p>

{% endblock %}
